name: Docker CI/CD Pipeline

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
  
    steps:
      # 1. Checkout the code from your Github repository
      - name: Checkout Code
        uses: actions/checkout@v4
      # 2. Set up Docker Buildx (allows for advanced build features) 
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      # 3. Login to Docker Hub using the secrets created earlier
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      # 4. Build the image and push it to Docker Hub
      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            dhiraj918106/openfast_rag_container:latest
            dhiraj918106/openfast_rag_container:${{ github.sha }}

